<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Bill template"/>
    <meta name="author" content="Mohammed Mujahed Khan"/>
    <title>Bill</title>
    <style>
	    	.p-01, table tr th, table tr td{
	    		padding: 0.1in;
	    	}
	    	.pr-05{
	    		padding-right: 0.5in;
	    	}
	    </style>
</head>

<body style="padding: 0; margin: 0;">
<div style="width: 8.25in; height 11.25in; color: black;">
    <div style="padding-top: 2.75in; padding-left: 1in; padding-right: 1in;">
        <span>Name: </span><span th:text="${name}"></span>
        <hr></hr>
    </div>

    <div style="padding-left: 1in; padding-right: 1in; clear : both;">
        <div style="margin: 0.3in 0;">

        </div>

    </div>
</div>
</body>
</html>